<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.link.arknights.cardpool.mapper.CardStateMapper">


    <insert id="insertCards">
        INSERT INTO cardstate (pool, name, rarity, isNew, createTime, ifTen, uid)
        VALUES
        <foreach collection="cardStates" item="cardState" separator=",">
            (#{cardState.pool}, #{cardState.name}, #{cardState.rarity}, #{cardState.isNew}, #{cardState.createTime},
            #{cardState.ifTen}, #{cardState.uid})
        </foreach>
    </insert>
    <insert id="insertPoolName">
        insert into poolinformation (poolName) values
        <foreach collection="pools" item="pool" separator=",">
            (#{pool.poolName})
        </foreach>
    </insert>


    <select id="queryBiggestTime" resultType="java.lang.Long">
        select max(createTime)
        from cardstate
    </select>
    <select id="getCardMessageByUid" resultType="com.link.arknights.cardpool.entity.CardState">
        select *
        from cardstate
        where uid = #{uid}
        ORDER BY createTime, id
    </select>
    <select id="queryAllByCreateTimeLongList" resultType="java.lang.Long">
        select distinct createTime
        from cardstate
    </select>
    <select id="getNumByPool" resultType="com.link.arknights.cardpool.entity.entityForMessage.getNumByPoolEntity">
        select cardstate.pool, count(cardstate.pool) sumCard, t2.num sixNum
        from cardstate
                 LEFT JOIN
             (select pool, COUNT(pool) num from cardstate t1 where rarity = 6 GROUP BY pool) t2
             on t2.pool = cardstate.pool
        GROUP BY cardstate.pool;
    </select>
    <select id="queryRespectiveNum" resultType="com.link.arknights.cardpool.entity.entityForMessage.RespectiveNum">
        SELECT
            p.poolName AS pool,
            SUM(stat.total) AS sum,
            SUM(stat.six) AS six,
            SUM(stat.five) AS five,
            SUM(stat.four) AS four,
            SUM(stat.three) AS three
        FROM
            poolinformation p
                LEFT JOIN (
                SELECT
                    pool,
                    COUNT(*) AS total,
                    COUNT(CASE WHEN rarity = 6 THEN 1 END) AS six,
                    COUNT(CASE WHEN rarity = 5 THEN 1 END) AS five,
                    COUNT(CASE WHEN rarity = 4 THEN 1 END) AS four,
                    COUNT(CASE WHEN rarity = 3 THEN 1 END) AS three
                FROM cardstate
                GROUP BY pool
            ) stat ON stat.pool = p.poolName
        GROUP BY p.poolName, p.id  -- 添加这行，包含所有非聚合字段
        ORDER BY p.id ASC;
    </select>
    <select id="getPoolFromCards" resultType="com.link.arknights.cardpool.entity.getFromArk.Pool">
        select pool poolName , MIN(createTime) startTime, MAX(createTime) stopTime
        from cardstate
        GROUP BY pool
        ORDER BY MIN(createTime)
    </select>
    <select id="getPool" resultType="java.lang.String">
        select DISTINCT poolName
        from poolinformation;
    </select>
    <select id="getPoolInfo" resultType="com.link.arknights.cardpool.entity.getFromArk.Pool">
        select *
        from poolinformation
    </select>
    <select id="getTotalTime" resultType="java.util.Map">
        select
            MAX(createTime) as startTime, MIN(createTime) as endTime
        from cardstate;
    </select>


</mapper>
